@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center pb-4">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <div class="flex-row d-flex justify-content-between">
        <div class="flex-column">
            <h4 class="border-bottom pb-3">Check out some recent Dishes!</h4>
            @foreach (var dish in ViewBag.AllDishes)
            {
                <p class="text-left"><a href="ViewDish/@dish.DishID">@dish.Name</a> by @dish.Chef</p>
            }
        </div>
        <a asp-controller="Home" asp-action="NewDish"><u>Add a Dish</u></a>
    </div>
</div>
